body
	background: #FFF
	+u
	line-height: 1.4
	color: $common
	//background: $gradient-simple
	background-color: $white
	position: relative
	
	&.is-fixed
		overflow: hidden
		max-height: 100vh
.btn
	border: 0
	outline: 0
	display: inline-block
	position: relative
	overflow: hidden
	font-size: 14px
	+u
	&_ts
		background-color: transparent
	&_link
		text-decoration: none
	&_yellow
		background-color: $yellow
		border-radius: 4px
		color: $gray
		padding: 15px 25px

.gradient-bg
	background: $gradient-yellow
.gradient-bg-reverse
	background: $gradient-yellow-reverse

.section
	position: relative
	// &:before
	// 	content: ""
	// 	+coverdiv
	// 	background-color: $white
	// 	z-index: -200
	&__in
		padding: 50px 0
		background-repeat: repeat-y
		background-position: 0 50%
		background-size: contain
	&__title
		text-align: center
		margin-bottom: 40px
		color: $violet
		font-size: 18px
		&_white
			color: $white
			h2
				font-weight: normal
			