body
	background: #FFF
	+u
	line-height: 1.4
	color: $common
	//background: $gradient-simple
	background-color: $white
.btn
	border: 0
	outline: 0
	display: inline-block
	position: relative
	overflow: hidden
	font-size: 14px
	&_ts
		background-color: transparent
	&_link
		text-decoration: none
	&_yellow
		background-color: $yellow
		border-radius: 4px
		color: $gray
		padding: 15px 25px

.gradient-bg
	background: $gradient-yellow
.gradient-bg-reverse
	background: $gradient-yellow-reverse

.section
	padding: 50px 0
	&__title
		text-align: center
		margin-bottom: 40px
		color: $violet
		font-size: 18px