---
title: Anykey | anykey.in.ua
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<div class="in">
	
		{% include "partials/_start.html" %}
		{% include "partials/_header.html" %}

		<div class="js-parallax">
			{% include "partials/_bms.html" %}
		</div>

		<div class="js-parallax">
			{% include "partials/_adv.html" %}
			{% include "partials/_uni.html" %}
		</div>
		
		<div class="js-parallax">
			{% include "partials/_work.html" %}
			{% include "partials/_contacts.html" %}
		</div>


		<div class="map">
			<div class="map__canvas" id="map"></div>
		</div>

		<!-- begin popup -->
		<div class="popup" data-popup="form">
			<div class="popup__overlay js-popup-close"></div>
			<div class="popup__box js-popup">
				<button class="btn btn_ts popup__close js-popup-close">{{ mixins.icon('close') }}</button>
				{% include "partials/_form.html" %}
			</div>
		</div>
		<!-- end popup -->
	</div>



{% endblock %}
