---
title: Anykey | anykey.in.ua
---
{% extends "layouts/_layout.html" %}

{% block content %}

	<div class="in">
		{% include "partials/_header.html" %}	
		{% include "partials/_prices.html" %}

		<!-- begin popup -->
		<div class="popup" data-popup="form">
			<div class="popup__overlay js-popup-close"></div>
			<div class="popup__box js-popup">
				<button class="btn btn_ts popup__close js-popup-close">{{ mixins.icon('close') }}</button>
				{% include "partials/_form.html" %}
			</div>
		</div>
		<!-- end popup -->

	</div>



{% endblock %}
