// colors
$white: #f2f2f2
$yellow: #f6eb06
$violet: #150d3f
$gray-bg: #d5d3ff

// gradients
$gradient-yellow: linear-gradient(135deg, #f4f272 0%, #d5d490 100%)
$gradient-violet: linear-gradient(135deg, #CE9FFC 0%, #7367F0 100%)