<section class="section adv">
	<div class="l">
		<div class="section__title">
			<h2>Преимущества автоматизации бизнеса</h2>
		</div>
	
		<div class="tab js-tab">
			<!-- begin filter -->
			<div class="tab__filter">
				<button class="tab__link js-tab-link" data-target-content="1">Tab 1</button>
				<button class="tab__link js-tab-link" data-target-content="2">Tab 2</button>
				<button class="tab__link js-tab-link" data-target-content="3">Tab 3</button>
			</div>
			<!-- end filter -->

			<!-- begin content -->
			<div class="tab__in">
				<div class="tab__content js-tab-content" data-content="1">
					<!-- begin before -->
					<div class="pie js-pie" data-pie='[{"percent": "25", "color": "#505160"}, {"percent": "25", "color": "#66a5ad"}, {"percent": "50", "color": "red"}]'>
					</div>
					<!-- end before -->

					<div class="adv-list">
						<h4>ERP система позволит:</h4>
						<ul>
							<li>Снизить затраты на бумагу и канцелярию</li>
							<li>Реже заправлять принтер</li>
							<li>Собрать все дела и напоминания в одном источнике</li>
							<li>Покупать печеньки и кофе на высвободившиеся средства :)</li>
						</ul>
					</div>

					<!-- begin after -->
					<div class="pie js-pie" data-pie='[{"percent": "80", "color": "#66a5ad"}, {"percent": "20", "color": "#505160"}]'>
					</div>
					<!-- end after -->
				</div>
				<div class="tab__content js-tab-content" data-content="2">
					<!-- begin before -->
					<div class="chart chart_before">comming soon</div>
					<!-- end before -->

					<div class="adv-list">
						<h4>ERP система позволит:</h4>
						<ul>
							<li>Сократить количество рабочих инструментов</li>
							<li>Выполнять все задачи в браузере</li>
							<li>Повысить эффективность работы</li>
							<li>Иметь доступ к рабочим процессам из любого устройства</li>
						</ul>
					</div>
					
					<!-- begin after -->
					<div class="chart chart_after">comming soon</div>
					<!-- end after -->
				</div>
				<div class="tab__content js-tab-content" data-content="3">
					<!-- begin before -->
					<div class="chart chart_before">comming soon</div>
					<!-- end before -->

					<div class="adv-list">
						<h4>ERP система позволит:</h4>
						<ul>
							<li>Снизить время согласования</li>
							<li>Меньше забывать о задачах</li>
							<li>Быстро составлять список дел</li>
							<li>Больше времени тратить на полезную работу, а не на согласования и коммуникацию</li>
						</ul>
					</div>
					
					<!-- begin after -->
					<div class="chart chart_after">comming soon</div>
					<!-- end after -->
				</div>
			</div>
			<!-- end content -->
		</div>
	</div>
</section>