<section class="section adv">
	<div class="l">
		<div class="section__title">
			<h2>Преимущества автоматизации бизнеса</h2>
		</div>
	
		<div class="adv__in">
			<!-- begin buttons -->
			<button class="adv__arr adv__arr_prev js-prev">
				{{ mixins.icon('arrow') }}
			</button>
			<button class="adv__arr adv__arr_next js-next">
				{{ mixins.icon('arrow') }}
			</button>
			<!-- end buttons -->
			<div class="adv__slider js-adv">
				<div class="adv__slide">
					<!-- begin chart -->
					<div class="adv__chart">
						<div class="pie js-pie" data-pie='[
						{"percent": "20", "color": "#8ec2a6", "title": "Затраты на бумагу"}, 
						{"percent": "20", "color": "#dc5356", "title": "Заправка принтера"},
						{"percent": "25", "color": "#f0cb69", "title": "Покупка канцелярии"},
						{"percent": "35", "color": "#150d3f", "title": "Печеньки и кофе :)"}]'>
						</div>
					</div>
					<!-- end chart -->

					<div class="adv__list">
						<h4>ERP система позволит:</h4>
						<ul>
							<li>Снизить затраты на бумагу и канцелярию</li>
							<li>Реже заправлять принтер</li>
							<li>Собрать все дела и напоминания в одном источнике</li>
							<li>Покупать печеньки и кофе на высвободившиеся средства :)</li>
						</ul>
					</div>

					<!-- begin chart -->
					<div class="adv__chart">
						<div class="pie js-pie" data-pie='[
						{"percent": "10", "color": "#8ec2a6", "title": "Затраты на бумагу"}, 
						{"percent": "10", "color": "#dc5356", "title": "Заправка принтера"},
						{"percent": "15", "color": "#f0cb69", "title": "Покупка канцелярии"},
						{"percent": "65", "color": "#150d3f", "title": "Печеньки и кофе :)"}]'>
						</div>
					</div>
					<!-- end chart -->
				</div>
				<div class="adv__slide">
					<!-- begin chart -->
					<div class="adv__chart">
						<div class="pie js-pie" data-pie='[
						{"percent": "20", "color": "#8ec2a6", "title": "Email"}, 
						{"percent": "20", "color": "#dc5356", "title": "Телефон"},
						{"percent": "20", "color": "#f0cb69", "title": "Skype"},
						{"percent": "20", "color": "#ab91c5", "title": "Социальные сети"},
						{"percent": "20", "color": "#5fb7e4", "title": "Другие месенджеры"}
						]'>
						</div>
					</div>
					<!-- end chart -->

					<div class="adv__list">
						<h4>ERP система позволит:</h4>
						<ul>
							<li>Сократить количество рабочих инструментов</li>
							<li>Выполнять все задачи в браузере</li>
							<li>Повысить эффективность работы</li>
							<li>Иметь доступ к рабочим процессам из любого устройства</li>
						</ul>
					</div>
					
					<!-- begin chart -->
					<div class="adv__chart">
						<div class="pie js-pie" data-pie='[
						{"percent": "100", "color": "#150d3f",
						"title": "ERP система"}]'>
						</div>
					</div>
					<!-- end chart -->
				</div>
				<div class="adv__slide">
					<!-- begin chart -->
					<div class="adv__chart">
						<div class="pie js-pie" data-pie='[
						{"percent": "35", "color": "#150d3f", "title": "Остаток рабочего дня"}, 
						{"percent": "65", "color": "#8ec2a6",
						"title": "Согласования и комуникация"}]'>
						</div>
					</div>
					<!-- end chart -->

					<div class="adv__list">
						<div class="adv__list-in">
							<h4>ERP система позволит:</h4>
							<ul>
								<li>Снизить время согласования</li>
								<li>Меньше забывать о задачах</li>
								<li>Быстро составлять список дел</li>
								<li>Больше времени тратить на полезную работу, а не на согласования и коммуникацию</li>
							</ul>
						</div>
					</div>
					
					<!-- begin chart -->
					<div class="adv__chart">
						<div class="pie js-pie" data-pie='[
						{"percent": "80", "color": "#150d3f", "title": "Остаток рабочего дня"}, 
						{"percent": "20", "color": "#8ec2a6",
						"title": "Согласования и комуникация"}]'>
						</div>
					</div>
					<!-- end chart -->
				</div>
			</div>
		</div>
	</div>
</section>