{% set clients = [
	{
		logo: 'zemik.jpg',
		name: 'ООО "ЗЕМИК"'
	},
	{
		logo: '4smart.png',
		name: 'Бизнес академия 4Smart'
	},
	{
		logo: 'vagar.jpeg',
		name: 'ОВЗ "ВАГАР"'
	},
	{
		logo: 'taco.png',
		name: 'ТАКО Холдинг'
	},
	{
		logo: 'tenzomir.jpg',
		name: 'ООО "ТЕНЗОМИР"'
	},
	{
		logo: 'tenzomir.jpg',
		name: 'ООО "ТЕНЗОМИР"'
	}
]
%}

<section class="section clients">
	<div class="section__in">
		<div class="l">
			<div class="section__title">
				<h2>Нам доверяют свою IT инфраструктуру</h2>
			</div>
			<div class="clients__in">
				<ul class="clients__list js-clients">
					{% for client in clients %}
					<li class="clients__item">
						<a href="" class="circle">
							<div class="circle__in">
								<!-- begin logo -->
								<div class="circle__logo">
									<img src="img/{{ client.logo }}" alt="">
								</div>
								<!-- end logo -->
								<!-- begin tooltip -->
								<div class="circle__tooltip">
									<button class="btn btn_ts">Посмотреть отзыв</button>
									<!-- <p>{{ client.name }}</p> -->
								</div>
								<!-- end tooltip -->
							</div>
						</a>
					</li>
					{% endfor %}
				</ul>
				<!-- begin buttons -->
				<button class="clients__arr clients__arr_prev js-clients-prev">
					{{ mixins.icon('arrow') }}
				</button>
				<button class="clients__arr clients__arr_next js-clients-next">
					{{ mixins.icon('arrow') }}
				</button>
				<!-- end buttons -->
			</div>
		</div>
	</div>
</section>