<footer class="footer">
	<div class="l">
		<!-- begin logo -->
		<div class="footer__logo">
			<img src="img/anykey-logo.svg" alt="">
		</div>
		<!-- end logo -->

		<!-- begin menu -->
		<ul class="footer__nav">
			<li><a href="/index.html">Главная</a></li>
			<li><a href="/index.html#erp">ERP</a></li>
			<li><a href="/index.html#work">Как мы работаем</a></li>
			<li><a href="/services.html">Цены</a></li>
			<li><a href="/index.html#contacts">Контакты</a></li>
		</ul>
		<!-- end menu -->

		<!-- begin copyright -->
		<div class="footer__copyright">
			<p>Anykey.in.ua © 2017</p>
		</div>
		<!-- end copyright -->
	</div>
</footer>