<div class="form" id="form">
	<div class="l">
		<div class="section__title">
			<h2>Заполните форму и мы обязательно с Вами свяжемся</h2>
		</div>
		<div class="block">
			<div class="block__title">
				<h3>Форма обратной связи</h3>
			</div>
			<div class="form__in">
				<form action="">
					<!-- begin input -->
					<div class="input">
						<input type="text">
						<label for="">Имя</label>
					</div>
					<!-- end input -->

					<!-- begin input -->
					<div class="input">
						<input type="email">
						<label for="">E-mail</label>
					</div>
					<!-- end input -->

					<!-- begin input -->
					<div class="input">
						<input type="tel">
						<label for="">Телефон</label>
					</div>
					<!-- end input -->

					<!-- begin input -->
					<div class="input">
						<textarea></textarea>
						<label for="">Сообщение</label>
					</div>
					<!-- end input -->

					<!-- begin submit -->
					<button class="btn btn_yellow js-ripple" data-ripple-color="rgba(0,0,0,.3)">Отправить</button>
					<!-- end submit -->
				</form>
			</div>
		</div>
	</div>
</div>