<div class="form">
		<div class="block">
			<div class="block__title">
				<h3>Форма обратной связи</h3>
			</div>
			<div class="form__in">
				<form action="https://formspree.io/olha.yev@gmail.com" id="contact-form" method="post">
					<!-- begin input -->
					<div class="input">
						<input type="text" name="name" placeholder="Имя">
					</div>
					<!-- end input -->

					<!-- begin input -->
					<div class="input">
						<input type="email" name="email" placeholder="E-mail">
					</div>
					<!-- end input -->

					<!-- begin input -->
					<div class="input">
						<input type="tel" name="phone" placeholder="Телефон">
					</div>
					<!-- end input -->

					<!-- begin input -->
					<div class="input">
						<textarea name="message" placeholder="Сообщение"></textarea>
					</div>
					<!-- end input -->

					<!-- begin submit -->
					<button class="btn btn_yellow js-ripple" data-ripple-color="rgba(0,0,0,.3)">Отправить</button>
					<!-- end submit -->
				</form>
				<div class="form__success js-form-success">
					<p>Сообщение отправлено!</p>
				</div>
			</div>
		</div>
</div>