<header class="header">
	<div class="header__logo">
		<img src="img/anykey-logo.svg" alt="" class="logo">
	</div>
	<nav class="header__nav js-nav">
		<ul class="nav js-nav-dropdown">
			<li class="nav__item js-ripple" data-ripple-color="rgba(255, 255, 255, 0.1)"><a href="#top">Главная</a></li>
			<li class="nav__item js-ripple" data-ripple-color="rgba(255, 255, 255, 0.1)"><a href="#erp">ERP</a></li>
			<li class="nav__item js-ripple" data-ripple-color="rgba(255, 255, 255, 0.1)"><a href="#work">Как мы работаем</a></li>
			<li class="nav__item js-ripple" data-ripple-color="rgba(255, 255, 255, 0.1)"><a href="#prices">Цены</a></li>
			<li class="nav__item js-ripple" data-ripple-color="rgba(255, 255, 255, 0.1)"><a href="#contacts">Контакты</a></li>
		</ul>
		<div class="header__icon">
			<button class="btn btn_ts nav-toggle js-nav-toggle">
				<span></span>
				<span></span>
				<span></span>
			</button>
		</div>
	</nav>
</header>
