<div class="quotes">
	<div class="l">
		<div class="quotes__item">
			<div class="quote">
				<div class="quote__photo">
					<img src="img/photo-1.jpg" alt="">
				</div>
				<div class="quote__in">
					<div class="quote__text">
						<q>Мы дадим Вам инструмент, и научим пользоваться.</q>
					</div>
					<div class="quote__author">
						{{ mixins.icon('person') }}
						<div class="quote__name">Влад Оснач</div>
						<div class="quote__pos">Системный администратор</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>