<section class="section uni">
	<div class="section__in">
		<div class="l">
			<div class="section__title">
				<h2>Работа в любой точке мира</h2>
			</div>
			<div class="uni__in">
				<div class="uni__info">
					<div class="uni__text">
						<p>Универсальность работы с ERP системами поражает , вы будете иметь доступ к задачам в любой точке мира с любого устройства подключенного к интернету, не важно какая ОС, если у устройства есть браузер и выход в интернет - вы на рабочем месте!</p>
						<p>Ну а мы скромно напоминаем, что можем это все настроить :)</p>
					</div>
					<ol class="points uni__points">
						<li><span>Для работы подойдет любой смартфон</span></li>
						<li><span>Так же какой угодно ноутбук</span></li>
						<li><span>Вообще любое устройство с браузером и подключением к интернету</span></li>
					</ol>
				</div>
				<div class="uni__pic">
					<img src="img/vpn.png" alt="">
				</div>
			</div>
			<div class="uni__message">
				<p>Мы с удовольствием проконсультируем Вас о преимуществах ERP именно для вашей компании. Воспользуйтесь <a href="">формой обратной связи</a> и мы перезвоним Вам.</p>
			</div>
		</div>
	</div>
</section>