<section class="section work">
	<div class="l">
		<div class="section__title">
			<h2>Как проходит работа с нами?</h2>
		</div>
		<div class="work__list">
			<ol class="timeline js-timeline">
				<li class="timeline__item">
					<h3>Запрос</h3>
					<p>Вы оставляете нам запрос любым удобным способом</p>

				</li>
				<li class="timeline__item">
					<h3>Выявление потребности</h3>
					<p>Мы проанализируем текущие бизнес процессы и выявим слабые места, которые можно укрепить</p>
				</li>
				<li class="timeline__item">
					<h3>Варианты</h3>
					<p>На этом этапе мы составляем варианты решения проблем и удовлетворения потребностей вашего бизнеса</p>
				</li>
				<li class="timeline__item">
					<h3>Внедрение</h3>
					<p>Мы внедряем выбранные Вами инструменты и настраиваем их для работы Вашего бизнеса</p>
				</li>
				<li class="timeline__item">
					<h3>Обучение</h3>
					<p>Это обширный этап, мы обучаем Ваш персонал для работы с новыми инструментами, рассказываем особенности и раскрываем возможности. Так же это время для глобального тестирования внедренной системы.</p>
				</li>
				<li class="timeline__item">
					<h3>ПРОДАКШН</h3>
					<p>Здесь все просто, подписывается акт выполненных работ, заключается договор на обслуживание Вашей системы и по итогу вы получаете новый, эффективный инструмент для ведения бизнеса</p>
				</li>
			</ol>
		</div>
	</div>
</section>