.adv
	background: linear-gradient(165deg, #1d2b64, #f8cdda)
	&__in
		position: relative
	&__arr
		position: absolute
		top: 50%
		transform: translate(0, -50%)
		width: 35px
		height: 35px
		z-index: 100
		background-color: transparent
		+trans
		.icon-arrow
			font-size: 48px
			fill: $white
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)

		&_prev
			left: -35px
			.icon-arrow
				transform: translate(-50%, -50%) rotate(90deg)
			&:hover
				transform: translate(-4px, -50%)
		&_next
			right: -35px
			.icon-arrow
				transform: translate(-50%, -50%) rotate(-90deg)
			&:hover
				transform: translate(4px, -50%)
	&__slider
		background-color: #fff
	&__slide
		font-size: 0
	&__chart, &__list
		display: inline-block
		vertical-align: top
	&__chart
		width: 35%
		padding: 20px
		position: relative
	&__list
		width: 30%
		min-height: 460px
		font-size: 16px
		padding: 30px 20px
		background: #fff
		box-shadow: inset 0px 1px 29px -5px rgba(0,0,0,0.61)
		+vertical
		&-in
			display: inline-block
			vertical-align: middle
			text-align: left
			
		h4
			font-size: 24px
			font-weight: normal
			margin-bottom: 30px
			color: $violet
		ul
			color: $violet
			li
				position: relative
				padding-left: 25px
				margin-bottom: 20px
				font-size: 16px
				&:before
					content: ""
					display: block
					position: absolute
					top: 5px
					left: 0
					width: 12px
					height: 12px
					+cover
					background-image: url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0yMS42NTIgMy4yMWMtLjI5My0uMjk0LS43Ny0uMjk0LTEuMDYgMEw5LjQxIDE0LjM0Yy0uMjkzLjI5Ny0uNzcuMjk3LTEuMDYyIDBsLTQuOS00Ljk5Yy0uMTQ0LS4xNDctLjMzNC0uMjItLjUyNS0uMjItLjE5My0uMDAyLS4zOS4wNy0uNTM2LjIyTC4yMjIgMTEuMjk4Yy0uMTQ0LjE0OC0uMjIyLjMzMy0uMjIyLjUyNiAwIC4xOTQuMDc4LjM5Ny4yMjMuNTQ0bDQuOTQgNS4xODRjLjI5Mi4yOTcuNzcuNzc3IDEuMDYyIDEuMDdsMi4xMjQgMi4xNDJjLjI5LjI5My43NjguMjkzIDEuMDYgMGwxNC4zNjctMTQuMzRjLjI5My0uMjk0LjI5My0uNzc3IDAtMS4wN2wtMi4xMjUtMi4xNHoiIGZpbGw9IiMxNTBkM2YiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==')


			
