.form
	padding: 50px 0
	background: linear-gradient(to right, #8d75ab, #67407a)
	.block
		max-width: 70%
		margin: 0 auto
		&__title
			//text-align: left
			padding: 20px 50px
			h3
				font-weight: 600
	&__in
		padding: 20px 50px
	.btn
		display: block
		margin: 0 auto
.input
	position: relative
	font-size: 14px
	margin-bottom: 15px
	input
		width: 100%
		height: 44px
		border: 1px solid $gray-bg
		border-radius: 2px
		padding: 16px 20px 0
		&:focus
			& + label
				font-size: 10px
				transform: translateY(-10px)
	label
		position: absolute
		top: 14px
		left: 20px
		+trans
	textarea
		width: 100%
		height: 120px
		padding: 20px 20px 0
		border: 1px solid $gray-bg
		border-radius: 2px
		resize: none
		&:focus
			& + label
				font-size: 10px
				transform: translateY(-10px)