.price
	&__list
		+justify
	&__pack
		width: 32%
		text-align: left
		text-align-last: auto
		line-height: normal
		display: inline-block
		vertical-align: top
		
	&__current
		font-size: 20px
		text-align: center
		margin-bottom: 5px
		color: $violet
		.large
			font-size: 32px
	&__prev
		font-size: 18px
		text-align: center
		margin-bottom: 15px
		text-decoration: line-through
	&__perks
		list-style-type: circle
		padding-left: 20px
		font-size: 14px
		margin-bottom: 15px
		li
			margin-bottom: 10px
	&__btn
		text-align: center
		margin-bottom: 20px
	&__extra
		font-size: 14px
		text-align: center
		color: #4e386d

.block
	background-color: #fff
	border: 1px solid $gray-border
	box-shadow: 0 4px 10px rgba(0,0,0,.1)
	border-radius: 2px
	&_simple
		border: 0
	&_shadow
		+trans(.2s)
		&:hover
			box-shadow: 0 10px 30px rgba(0,0,0,.1)
			transform: translateY(-8px)
	//height: 100%
	&__title
		padding: 20px 30px
		text-align: center
		color: $violet
		border-bottom: 1px solid $gray-border
		h3
			font-weight: normal
			text-transform: uppercase
			font-size: 20px
	&__in
		padding: 20px 30px
		