.quotes
	padding-top: 70px
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	+r($md)
		padding-top: 0
		margin-bottom: 50px
	&__item
		width: 48%
		margin-bottom: 50px
		+r($md)
			width: 100%
.quote
	position: relative
	font-size: 0
	color: $white
	&__photo, &__in
		display: inline-block
		vertical-align: middle
	&__photo
		width: 150px
		height: 150px
		border-radius: 50%
		position: relative
		
		img
			width: 100%
			border-radius: 50%
			+vcenter
	&__in
		width: calc(100% - 150px)
		padding-left: 20px
	&__text
		font-size: 16px
		margin-bottom: 20px
	&__author
		position: relative
		padding-left: 25px
		opacity: .7
		.icon-person
			width: 20px
			height: 20px
			fill: $white
			position: absolute
			top: 0
			left: 0
			//transform: translate(0, -50%)
	&__name
		font-style: italic
		font-size: 14px
	&__pos
		font-size: 12px