.start
	width: 100%
	height: 100%
	position: relative
	background-color: transparent
	//+image('anykey-start.jpg')
	+cover
	&:before
		content: ""
		+coverdiv
		z-index: -1
		background-color: $white

	&__in
		+vcenter
		min-width: 80%
		text-align: center
	&__title
		font-size: 48px
		color: $violet
		padding: 10vh 0
		+r($md)
			font-size: 36px
		&_white
			color: $white
	&__btn
		text-align: center
		.btn
			animation: scroll infinite 2s ease-out
			&:hover
				animation-play-state: paused
		.icon-arrow
			font-size: 72px
			fill: $white
			+r($md)
				font-size: 54px
		
		