.icon-arrow-drawn {
  width: 2.73em;
  height: 1em;
  fill: #202020;
}
.icon-arrow {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-burger {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-github {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-linkedin {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-mail {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-person {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-social {
  width: 1em;
  height: 1em;
  fill: none;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: none;
}
